
<h1 mat-dialog-title><strong>{{action}} Event </strong></h1>
<div mat-dialog-content>
  <p>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} Event Name" matInput [(ngModel)]="local_data.name" required>   
  </mat-form-field>
  
  <mat-form-field>
    <input placeholder="Description" matInput [(ngModel)]="local_data.desc" required>
  </mat-form-field>
</p>
<table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field>
    <input matInput [matDatepicker]="start" placeholder="Start Date" [(ngModel)]="local_data.start" required>
    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
  <mat-datepicker #start></mat-datepicker>
  </mat-form-field></td>
  
 <td> <mat-form-field>
    <input matInput [matDatepicker]="end" placeholder="End Date" [(ngModel)]="local_data.end" required>
    <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
  <mat-datepicker #end></mat-datepicker>
  </mat-form-field></td>
  <td><mat-form-field>
    <!-- <mat-label>Time</mat-label>
    <mat-select [(ngModel)]="local_data.time" required>
      <mat-option value="red">10:00 AM</mat-option>
    </mat-select> -->
    <input type="time" atp-time-picker placeholder=" Select Time" matInput [(ngModel)]="local_data.time" required/>
  </mat-form-field></td>
</tr></table>
  <p>
  <mat-form-field>
    <textarea placeholder="Venue(complete address for the event) " matInput  rows="4" [(ngModel)]="local_data.venue" required></textarea>
  </mat-form-field>
 </p>
  <mat-form-field>
    <input placeholder="Ticket Rate" matInput [(ngModel)]="local_data.rate" required>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>
  <ng-template #elseTemplate>
      Sure to delete <b>{{local_data.name}}</b>?
    </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
